.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuIcon {
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
}

.navbarSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
